[submodule "MapStudio.UI"]
	path = MapStudio.UI
	url = https://github.com/MapStudioProject/MapStudio.UI
	branch = TrackStudioVersion
[submodule "GLFrameworkEngine"]
	path = GLFrameworkEngine
	url = https://github.com/MapStudioProject/GLFrameworkEngine
	branch = TrackStudioVer
[submodule "Toolbox.Core"]
	path = Toolbox.Core
	url = https://github.com/KillzXGaming/Toolbox.Core
	branch = map-studio
